In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl.metadata (4.4 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-macosx_11_0_arm64.whl (2.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.6/2.6 MB 590.4 kB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [63]:
import psycopg2

conn = psycopg2.connect(
    dbname='postgres',
    user='student',
    password='mds-is-fun',
    host='postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com',
    port='5432'
)

In [64]:
%sql postgresql://student:mds-is-fun@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres

# 1. Getting to know the data

In [65]:
%%sql
SELECT * FROM pg_catalog.pg_tables WHERE schemaname='public'

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
37 rows affected.

[('public', 'calendarcustom', 'tbrambor', None, False, False, False, False),
 ('public', 'complaint', 'tbrambor', None, False, False, False, False),
 ('public', 'prevcommission', 'tbrambor', None, False, False, False, False),
 ('public', 'imprisonment', 'tbrambor', None, False, False, False, False),
 ('public', 'source', 'tbrambor', None, False, False, False, False),
 ('public', 'confession', 'tbrambor', None, False, False, False, False),
 ('public', 'appeal', 'tbrambor', None, False, False, False, False),
 ('public', 'weathermodification', 'tbrambor', None, False, False, False, False),
 ('public', 'demonicpact', 'tbrambor', None, False, False, False, False),
 ('public', 'musicalinstrument', 'tbrambor', None, False, False, False, False),
 ('public', 'torture', 'tbrambor', None, False, False, False, False),
 ('public', 'witchesmeetingplace', 'tbrambor', None, False, False, False, False),
 ('public', 'malice', 'tbrambor', None, False, False, False, False),
 ('public', 'religiousmotif', 'tbrambor', None, False, False, False, False),
 ('public', 'othernamedwitch', 'tbrambor', None, False, False, False, False),
 ('public', 'accused_family', 'tbrambor', None, False, False, False, False),
 ('public', 'elf_fairyelements', 'tbrambor', None, False, False, False, False),
 ('public', 'trial', 'tbrambor', None, False, False, False, False),
 ('public', 'ritualobject', 'tbrambor', None, False, False, False, False),
 ('public', 'movestohla', 'tbrambor', None, False, False, False, False),
 ('public', 'othercharges', 'tbrambor', None, False, False, False, False),
 ('public', 'commission', 'tbrambor', None, False, False, False, False),
 ('public', 'ordeal', 'tbrambor', None, False, False, False, False),
 ('public', 'person', 'tbrambor', None, False, False, False, False),
 ('public', 'reference', 'tbrambor', None, False, False, False, False),
 ('public', 'case_person', 'tbrambor', None, False, False, False, False),
 ('public', 'counterstrategy', 'tbrambor', None, False, False, False, False),
 ('public', 'ref_parish', 'tbrambor', None, False, False, False, False),
 ('public', 'linkedtrial', 'tbrambor', None, False, False, False, False),
 ('public', 'whitemagic', 'tbrambor', None, False, False, False, False),
 ('public', 'devilappearance', 'tbrambor', None, False, False, False, False),
 ('public', 'mentionedaswitch', 'tbrambor', None, False, False, False, False),
 ('public', 'propertydamage', 'tbrambor', None, False, False, False, False),
 ('public', 'shapechanging', 'tbrambor', None, False, False, False, False),
 ('public', 'trial_person', 'tbrambor', None, False, False, False, False),
 ('public', 'accused', 'tbrambor', None, False, False, False, False),
 ('public', 'denunciation', 'tbrambor', None, False, False, False, False)]

## a)

In [66]:
%%sql
SELECT * FROM accused LIMIT 3

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
3 rows affected.

[('A/EGD/10', 'EGD', 10, 'Mareon', 'Quheitt', 'Marion', 'White', None, None, None, 'Female', None, False, False, 'Sammuelston', 'P/JO/3539', 'Haddington', 'Haddington', None, None, None, None, None, None, None, None, None, 'SMD', '2001-05-15T11:06:51', 'jhm', '2002-08-09T11:40:51'),
 ('A/EGD/100', 'EGD', 100, 'Thom', 'Cockburn', 'Thomas', 'Cockburn', None, None, None, 'Male', None, False, False, None, None, None, 'Haddington', None, None, None, None, None, None, None, None, None, 'SMD', '2001-05-15T11:06:51', 'jhm', '2002-10-02T10:32:30'),
 ('A/EGD/1000', 'EGD', 1000, 'Christian', 'Aitkenhead', 'Christine', 'Aikenhead', None, None, None, 'Female', None, False, False, 'Rottinraw', None, None, 'Dumfries', None, None, None, None, None, 'Married', None, None, None, 'SMD', '2001-05-15T11:06:51', 'jhm', '2002-10-01T10:48:12')]

## b)

In [67]:
%%sql
SELECT COUNT(*) FROM accused

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(3219,)]

## c)

In [68]:
%%sql
SELECT COUNT(age) FROM accused

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(166,)]

## d)

In [69]:
%%sql
SELECT DISTINCT occupation FROM accused

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
32 rows affected.

[('Stabler',),
 ('Blacksmith',),
 ('Mealmaker',),
 ('Minister',),
 ('School teacher',),
 ('Shop-keeper',),
 ('Healer',),
 (None,),
 ('Workman',),
 ('Weaver',),
 ('Messenger',),
 ('Servant',),
 ('Tasker',),
 ('Smith',),
 ('Henwife',),
 ('Sailor',),
 ('Nurse',),
 ('Cook',),
 ('Collier',),
 ('Midwife',),
 ('Merchant',),
 ('Maltman',),
 ('Slaterer',),
 ('Vagabond',),
 ('Tailor',),
 ('Fisherman',),
 ('School Master',),
 ('Loadman',),
 ('Brewster',),
 ('Miller',),
 ('Farmer',),
 ('Creelman',)]

## e)

In [70]:
%%sql
SELECT (SELECT COUNT(*) FROM accused WHERE sex = 'Female')::float/(SELECT COUNT(*) FROM accused)
AS proportion_of_female

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(0.8393911152531842,)]

# 2. Seeing the Devil

## a)

In [71]:
%%sql
SELECT DISTINCT devil_type FROM devilappearance

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
16 rows affected.

[(None,),
 ('Other Demon',),
 ('Fairy',),
 ('Human Devil',),
 ('Male Fairy',),
 ('Female Fairy',),
 ('Male',),
 ('Inanimate Object Devil',),
 ('Animal Devil',),
 ('Baby',),
 ('Insect Devil',),
 ('Ghost',),
 ('Spirit',),
 ('Female',),
 ('Child Devil',),
 ('Unspecified Devil',)]

## b)

In [72]:
%%sql
SELECT COUNT(*) FROM devilappearance WHERE devil_text LIKE '%black%'

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(113,)]

## c)

In [73]:
%%sql
SELECT (SELECT COUNT(*) FROM devilappearance WHERE devil_type = 'Male')::float/(SELECT COUNT(*) FROM devilappearance)
AS proportion_of_male_devils

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(0.6313131313131313,)]

# 3. The trial

## a)

In [74]:
%%sql
SELECT AVG(male_accusers) AS "average male accusers", MAX(male_accusers) AS "max male accusers",
       AVG(female_accusers) AS "average female accusers", MAX(female_accusers) AS "max female accusers"
FROM trial

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(0.4181988158304768, 48.0, 0.2559226932668329, 27.0)]

## b)

In [75]:
%%sql
SELECT sentence AS "Sentence Type", COUNT(*) AS "Number of Sentences"
FROM trial 
WHERE sentence IS NOT NULL 
GROUP BY sentence 
ORDER BY COUNT(sentence) DESC

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
10 rows affected.

[('Execution', 205),
 ('Released', 52),
 ('Banishment', 27),
 ('Declared Fugitive', 11),
 ('Excommunicated', 6),
 ('Put to the horn', 2),
 ('Public Humiliation', 1),
 ('Branded', 1),
 ('Hang', 1),
 ('Prison', 1)]

## c)

In [76]:
%%sql
SELECT verdict AS "Verdict Type", AVG(male_accusers + female_accusers) AS "Average Accusers"
FROM trial 
GROUP BY verdict 
ORDER BY "Average Accusers" DESC

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
5 rows affected.

[('Guilty', 5.804255319148936),
 ('Not Guilty', 4.558139534883721),
 ('Not Proven', 1.0),
 ('Half Guilty', 0.2857142857142857),
 (None, 0.2013053933356235)]

# 4. Tortured Truth

## a)

In [77]:
%%sql
SELECT(SELECT COUNT(*) FROM trial) AS "Total Trials", COUNT(DISTINCT confession.trialref) AS "Total Confessions", 
COUNT(DISTINCT confession.trialref) * 100 / (SELECT COUNT(*) FROM trial) AS "Share of trials with recorded confessions"
FROM trial
LEFT JOIN confession
ON trial.trialref = confession.trialref

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
1 rows affected.

[(3211, 756, 23)]

## b)

In [78]:
%%sql
SELECT execution AS "Torture Involved", COUNT(DISTINCT t.trialref) AS "Total Trials", COUNT(DISTINCT c.confessionref) AS "Total Confessions",
(COUNT(DISTINCT c.confessionref)::float/COUNT(DISTINCT t.trialref)) *100 AS "Share of trials with recorded confessions"
FROM trial t 
LEFT JOIN confession c
ON t.trialref = c.trialref
GROUP BY t.execution

 * postgresql://student:***@postgres.csbmzoea3lu9.us-east-1.rds.amazonaws.com:5432/postgres
2 rows affected.

[(False, 2981, 728, 24.421335122442134), (True, 230, 213, 92.6086956521739)]